/* globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Extend the default color palette with your custom colors */
@layer base {
  @custom-media --light-mode (prefers-color-scheme: light);

  .dark {
    --color-text: #1b1313;
    --color-background: #fbf9f9;
    --color-primary: #4a6868;
    --color-secondary: #eae1e1;
    --color-accent: #6a9495;
  }

  .light {
    --color-text: #ffffff;
    --color-background: #000000;
    --color-primary: #4a6868;
    --color-secondary: #eae1e1;
    --color-accent: #6a9495;
  }

  body {
    color: var(--color-text);
    background: linear-gradient(
      to bottom,
      transparent,
      var(--color-background)
    ) var(--color-background);
  }
}
